### Assignment - Intro to Python and Data Structures
The assignment is for students to get a feel of the lesson discussed this week. You are free to ask any doubts regarding working out any questions in the group. Also, updating the worked out notebook on Github is very much engaged, be sure to mention School of AI, Trivandrum. Additional recognition for students who document the work using *markdown*.

##### 1) Read the contents of test.csv

**1.1 Download test.csv file from github and store to Data folder.**

In [2]:
!mkdir Data && wget -O Data/test.csv https://raw.githubusercontent.com/hari-govind/sct-meetup/master/week-1/Data/test.csv

--2019-02-14 15:30:23--  https://raw.githubusercontent.com/hari-govind/sct-meetup/master/week-1/Data/test.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 784 [text/plain]
Saving to: ‘Data/test.csv’

Data/test.csv       100%[===================>]     784  --.-KB/s    in 0s

2019-02-14 15:30:24 (76.7 MB/s) - ‘Data/test.csv’ saved [784/784]

**1.2 Storing contents of test.csv in a variable and printing it**

In [5]:
'''Getting Contents of File'''

test_file = open('Data/test.csv', 'rw')
contents = test_file.read()
test_file.close()
print(contents)

Loan_ID,Gender,Married,Education,ApplicantIncome,LoanAmount,Property_Area
LP001015,Male,Yes,Graduate,5720,110,Urban
LP001022,Male,Yes,Graduate,3076,126,Urban
LP001031,Male,Yes,Graduate,5000,208,Urban
LP001035,Male,Yes,Graduate,2340,100,Urban
LP001051,Male,No,Not Graduate,3276,78,Urban
LP001054,Male,Yes,Not Graduate,2165,152,Urban
LP001055,Female,No,Not Graduate,2226,59,Semiurban
LP001056,Male,Yes,Not Graduate,3881,147,Rural
LP001059,Male,Yes,Graduate,13633,280,Urban
LP001067,Male,No,Not Graduate,2400,123,Semiurban
LP001078,Male,No,Not Graduate,3091,90,Urban
LP001082,Male,Yes,Graduate,2185,162,Semiurban
LP001083,Male,No,Graduate,4166,40,Urban
LP001094,Male,Yes,Graduate,12173,166,Semiurban
LP001096,Female,No,Graduate,4666,124,Semiurban
LP001099,Male,No,Graduate,5667,131,Urban

**1.3 Storing data as a dictionary**

In [12]:

'''Storing Contents of File in Dictionary'''

dictionary_data = {} #Empty dict for storing data
headings = contents.split('\n',1)[0].split(',')    #header row

for heading in headings:
  dictionary_data[heading] = []
  
for row in contents.split('\n',1)[1].split('\n'):   #getting rows excluding header row
  row_contents = row.split(',')  #data fields
  
  for i in range(len(row_contents)):
    dictionary_data[headings[i]].append(row_contents[i])   #append fields to respective dictionary keys
    
print(dictionary_data)

{'Property_Area': ['Urban', 'Urban', 'Urban', 'Urban', 'Urban', 'Urban', 'Semiurban', 'Rural', 'Urban', 'Semiurban', 'Urban', 'Semiurban', 'Urban', 'Semiurban', 'Semiurban', 'Urban'], 'Loan_ID': ['LP001015', 'LP001022', 'LP001031', 'LP001035', 'LP001051', 'LP001054', 'LP001055', 'LP001056', 'LP001059', 'LP001067', 'LP001078', 'LP001082', 'LP001083', 'LP001094', 'LP001096', 'LP001099'], 'LoanAmount': ['110', '126', '208', '100', '78', '152', '59', '147', '280', '123', '90', '162', '40', '166', '124', '131'], 'Gender': ['Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male'], 'Married': ['Yes', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes', 'Yes', 'No', 'No', 'Yes', 'No', 'Yes', 'No', 'No'], 'ApplicantIncome': ['5720', '3076', '5000', '2340', '3276', '2165', '2226', '3881', '13633', '2400', '3091', '2185', '4166', '12173', '4666', '5667'], 'Education': ['Graduate', 'Graduate', 'Graduate', 'Graduate', 'Not Graduate', 'Not Graduate', 'Not Graduate', 'Not Graduate', 'Graduate', 'Not Graduate', 'Not Graduate', 'Graduate', 'Graduate', 'Graduate', 'Graduate', 'Graduate']}

##### 2) Replace the *Graduate* and *Not Graduate* in the Education column by 1 and 0 respectively

In [14]:
for i in range(len(dictionary_data['Education'])):
  dictionary_data['Education'][i] = 1 if dictionary_data['Education'][i] == 'Graduate' else 0

print(dictionary_data)

{'Property_Area': ['Urban', 'Urban', 'Urban', 'Urban', 'Urban', 'Urban', 'Semiurban', 'Rural', 'Urban', 'Semiurban', 'Urban', 'Semiurban', 'Urban', 'Semiurban', 'Semiurban', 'Urban'], 'Loan_ID': ['LP001015', 'LP001022', 'LP001031', 'LP001035', 'LP001051', 'LP001054', 'LP001055', 'LP001056', 'LP001059', 'LP001067', 'LP001078', 'LP001082', 'LP001083', 'LP001094', 'LP001096', 'LP001099'], 'LoanAmount': ['110', '126', '208', '100', '78', '152', '59', '147', '280', '123', '90', '162', '40', '166', '124', '131'], 'Gender': ['Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male'], 'Married': ['Yes', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes', 'Yes', 'No', 'No', 'Yes', 'No', 'Yes', 'No', 'No'], 'ApplicantIncome': ['5720', '3076', '5000', '2340', '3276', '2165', '2226', '3881', '13633', '2400', '3091', '2185', '4166', '12173', '4666', '5667'], 'Education': [1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1]}

##### 3) Find the minimum and maximum value of *Loan Amount*. Also calculate the mean *Loan Amount*

Finding minimum and maximum loan amount.

In [27]:
LoanAmounts = [int(LoanAmount) for LoanAmount in dictionary_data['LoanAmount']] #LoanAmount needs to be in int for numerical operations
min_loan = min(LoanAmounts) 
print('Minimum Loan: ' + str(min_loan))
max_loan = max(LoanAmounts)
print('Maximum Loan: ' + str(max_loan))

Minimum Loan: 40
Maximum Loan: 280

Finding mean loan amount.

In [29]:
mean_loan = sum(LoanAmounts)/len(LoanAmounts)
print('Mean Amount: ' + str(mean_loan))

Mean Amount: 131